<!DOCTYPE html>
<html>
    <head>
        <title>marcellus mohanna</title>

        <style>
            body {
                width:1200px;
                margin:auto;
                font-family: monospace;
            }

            @media only screen and (min-width: 1200px) {
                body {
                    width:1200px;
                    margin:auto;
                }
            }

            @media only screen and (max-width: 1200px) {
                body {
                    width: 100%;
                }
            }

        </style>
    </head>
    <body>
        {{{body}}}
    </body>
</html>