<style>
    nav {
        margin-top:100px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .nav-title-container {
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        width: max-content;
    }

    .nav-title {
        font-size: xx-large;
        display: inline;
        margin: 0 20px;
    }

    .headshot {
        max-width: 100px;
        display: inline;
    }

    .nav-list {
        display:inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .nav-item {
        font-size: xx-large;
        margin 0 20px;
    }

    .nav-item a {
        color: black;
    }

    .summary {
        padding: 0px 50px 50px 50px;
        margin-left: 50px;
        text-overflow: ;
        text-align: justify;
        font-size: x-large;

    }

    .content {
        padding: 0 50px 50px 50px;
        margin: 0 50px;

    }

    .content-header {
        box-shadow: -40px 0 white, -60px 0 black;
        margin: 0 50px 50px 50px;
    }

    main {
        padding-top: 75px;
        margin: 0 50px;
        border-left:lightgray;
        border-left-style: dotted;
    }

</style>

<nav>
    <span class="nav-title-container">
        <img class="headshot" src="/static/img/headshot.png">
        <span class="nav-title">marcellus <br> mohanna</span>
    </span>
    <span class="nav-list">
        <span class="nav-item"><a href="/static/pdf/marcellus_mohanna_resume.pdf">resume</a></li>
        <span class="nav-item"><a href="mailto:mail@marcellus.dev">email</a></li>
        <span class="nav-item"><a href="https://github.com/marcellus97">github</a></li>
        <span class="nav-item"><a href="https://linkedin.com/in/marcellus-mohanna">linkedin</a></li>
    </span>
</nav>

<main>

    <h1 class="content-header">
       about me 
    </h1>

    <div class="summary">
        i'm a software engineer based in cincinnati, ohio.
        web application development is my specialty.
        i also love cooking, playing video games (rocket league season 14 grand champion), and hiking.
    </div>

    <h1 class="content-header">
        experience
    </h1>

    <div class="content">
        <h3 class="content-heading">software engineer - odw lts - hamilton, oh</h3>
        <span class="content-span"></span>
        <div class="content-body">
            Over 20+ feature adds / projects worked on for supply chain company's Trucking Management System (TMS) using Java Spring and Angular.
            Assisted in porting current TMS to  a new auto generated version writen in GO.
        </div>
        <br>
        <div class="content-footer">
            <i>august '21 - present</i>
        </div>
    </div>

    <div class="content">
        <h3 class="content-heading">software engineer - treasurer of state - columbus, oh</h3>
        <span class="content-span"></span>
        <div class="content-body">
            Lead Developer for internal facing ledger dashboard.
            Maintain and update 5+ internal and external facing banking applications using .NET and Angular.
            Performed Agile tasks (gathered requirements, created user stories, sprint planning, etc.)
        </div>
        <br>
        <div class="content-footer">
            <i>june '20 - july '21</i>
        </div>
    </div>

    <div class="content">
        <h3 class="content-heading">computer science teaching assistant - miami university - oxford, oh</h3>
        <span class="content-span"></span>
        <div class="content-body">
            Hosted learning sessions for 30+ students per semester to review important concepts and assist with programming problems.
        </div>
        <br>
        <div class="content-footer">
            <i>august '16 - may '20</i>
        </div>
    </div>

    <h1 class="content-header">
        education
    </h1>

    <div class="content">
        <h3 class="content-heading">miami university - oxford, oh</h3>
        <span class="content-span"></span>
        <div class="content-body">
            bachelor's of science - computer science
        </div>
        <br>
        <div class="content-footer">
            <i>august '16 - may '20</i>
        </div>
    </div>
</main>

